
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/products">Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/cart/64496b2a0d934be98be0f626">Carrito</a>
        </li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="row col-sm-6">
<div class="container col-sm-6 ">
        <div class="d-raw text-center">
            <hi class="h3">{{title}} </hi>
        </div>
            {{#if message}}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {{/if}}
        <div class="row">
    <div class="row">
    <div class="row col-sm-6">
        <div class="container col-sm-6 ">
        <div class="d-raw text-center">
            <hi class="h3">{{title}} </hi>
        </div>
            {{#if message}}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {{/if}}
        {{#each cart.products}}
        <form method="get" action="/cart/{{../_id}}">
        <div class="col">
        <h3>{{this.product.title}}</h3>
        <p>Description: {{this.product.description}}</p>
        <p>Price: ${{this.product.price}}</p>
        <p>Quantity: {{this.Quantity}}</p> 
        </div>
        </div>
        </form>
          {{/each}} 
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/index.js" ></script>