<div class="Container">
<div class="Container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Home">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href='/api/extend/products'>Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/api/extend/carts/carts/{{user.cart}}">Carrito</a>
        </li>
    </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href='/user/register' role="button">Registrar</a>
        <a class="btn btn-outline-light" href='/user/login' role="button">Login</a>
      </div>
</div>
</nav>
</div>

<div class="container">
        <div>
          <form id="TicketForm">
            <input type="hidden" name="cid" value="{{user.cart}}">  
            <button type="submit" class="btn btn-primary">Finalizar compra</button>
          </form>
        </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="d-raw text-center">
        <h1 class="h3">{{title}}</h1>
      </div>
      {{#if message}}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
      {{/if}}
      <div class="row">
        {{#each cart.products}}
          <div class="col-xl-4 p-1">
            <div class="card">
              <div class="card-header">
                {{this.product.title}}
              </div>
              <div class="card-body">
                <h5 class="card-title">Precio por producto: ${{this.product.price}}</h5>
                <p class="card-text">Descripción: {{this.product.description}}</p>
                <p class="card-text">Cantidad de producto seleccionado: {{this.quantity}}</p>
                <form action="/api/extend/carts/eliminar" method="POST">
                  <input type="hidden" name="cid" value="{{user.cart}}">
                  <input type="hidden" name="pid" value={{this.product._id}}>
                  <button type="submit" class="btn btn-primary">Eliminar</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/ticket.js"></script>
<script src="/js/index.js" ></script>