
<div class="row">
    <div class="row col-sm-6">
        <div class="container col-sm-6 ">
        <div class="d-raw text-center">
            <hi class="h3">{{title}} </hi>
        </div>
            {{#if message}}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {{/if}}
        <div class="row">
    <div class="row">
    <div class="row col-sm-6">
        <div class="container col-sm-6 ">
        <div class="d-raw text-center">
            <hi class="h3">{{title}} </hi>
        </div>
            {{#if message}}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {{/if}}
        {{#each cart.products}}
        <form method="get" action="/cart/{{../_id}}">
        <div class="col">
        <h3>{{this.product.title}}</h3>
        <p>Description: {{this.product.description}}</p>
        <p>Price: ${{this.product.price}}</p>
        <p>Quantity: {{this.Quantity}}</p> 
        </div>
        </div>
        </form>
          {{/each}} 
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/index.js" ></script>