<div class="Container">
<div class="Container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Home">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href='/api/extend/products'>Productos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/api/extend/carts/carts/{{user.cartId}}">Carrito</a>
        </li>
    </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-light" href='/user/register' role="button">Registrar</a>
        <a class="btn btn-outline-light" href='/user/login' role="button">Login</a>
      </div>
</div>
</nav>
</div>
<form  >
<figure class="text-center">
  <blockquote class="blockquote">
    <h2><ins>Bienvenido {{ user.name }}, tenemos los siguientes productos para vos</ins></h2>
  </blockquote>
</figure>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
 <a type="submit" class="btn btn-primary" href="/user/logout" role="button">Cerrar Sesion</a> 
  </div>
</form>



<div class="container"> 
  <div class="d-raw text-center">
    <h2 class="h3">Lista de productos</h2>
  </div>
  <div class="col-md-6 offset-md-3">
    <form form method="GET" action="/api/extend/products" >
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Límite de resultados" name="limit">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" value="Actualizar">Actualizar</button>
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre del producto" name="title">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" value="Buscar">Buscar</button>
          <button class="btn btn-primary" type="submit" value="Volver al inicio">Volver al inicio</button>
        </div>
      </div>
      <div class="input-group p-3">
        <button class="btn btn-secondary col" type="submit" name="ordenarPor" value="mayorPrecio">Mayor Precio</button>
        <button class="btn btn-secondary col" type="submit" name="ordenarPor" value="menorPrecio">Menor Precio</button>
        <button class="btn btn-secondary col">No ordenar</button>
      </div>
    </form>
  </div>
  {{#if isValid}}

  <div class="row row-cols-1 row-cols-md-3 g-4">
{{#each docs}}
    <div class="col">
      <div class="card text-center" style="max-width: 400px;">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nombre del producto: {{this.title}}</h5>
            <p class="card-text">Precio: ${{this.price}}</p>
            <p class="card-text">Cantidades disponibles: {{this.stock}}</p>
            <p class="card-text">Disponibilidad: {{this.status}}</p>
          <form method="post" action="/api/extend/carts/:cid/add/{{this._id}}">
              <input type="hidden" name="cid" value="{{user.cart}}">
            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
          </form>
            {{!-- <form method="POST" action='/api/extend/carts/{{user._id}}/add/{{this._id}}'> --}}
              {{!-- <input type="hidden" name="userId" value="{{this.cart}}">
              <input type="hidden" name="productId" value="{{this._id}}"> --}}
              {{!-- <button type="submit" class="btn btn-primary">Agregar al carrito</button>
            </form> --}}
          </div>
        </div>
      </div>
    </div>
{{/each}}
  </div>

  {{/if}}
  <div>
    {{#if hasPrevPage}}
    <a href={{this.prevLink}}>Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
    {{#if hasNextPage}}
    <a href={{this.nextLink}}>Siguiente</a>
    {{/if}} 
  </div> 
  {{user.cartId}}

</div>





  
 


